.carousel
{
    width: 40%;
    margin-inline: auto;
}

.carouselImage
{
    max-height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.datatable
{
    height: 100%;
    margin-inline: auto;
}